<!DOCTYPE html>  
<html lang="zh-CN">  
<head>  
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>yanziyu.site</title>  
  <style>  
    body.disabled {  
      pointer-events: none;  
      opacity: 0.6;  
      color: rgba(128, 128, 128, 0.5);  
    }  
    body.disabled * {  
      color: rgba(128, 128, 128, 0.5);  
      cursor: default;  
    }  
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      height: 100vh; /* 使 body 高度铺满屏幕 */
      display: flex;
      align-items: flex-start; /* 内容从顶部开始 */
      justify-content: center; /* 水平居中 */
    }
    article {
      width: 100%; /* 使内容宽度铺满 */
      height: 100%; /* 使内容高度铺满 */
      padding: 20px;
      box-sizing: border-box; /* 包括内边距在内 */
      overflow-y: auto; /* 允许垂直滚动 */
    }
  </style>  
</head>  
<body>  
  <script type="text/javascript">  
    var password = prompt("请输入密码:");  
    if (password !== "111") {  
      document.body.innerHTML = '<h1>密码错误</h1><p>请找管理员</p>';  
      document.title = '404 Not Found';  
      document.body.classList.add('disabled');  

    } else {  
      // 密码正确时跳转  
      window.location.href = "https://yanziyu.site/%E8%BF%90%E8%A1%8C%E6%9D%82/%E4%B8%BB%E9%A1%B5home/%F0%9F%97%BA%E5%9C%B0%E5%9B%BE/";  
    }  
  </script>  
</body>  
</html>
